
{% extends 'hotel/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="content-section" >

  {% comment %} <div class="accomodation_area section_gap" >
        <div class="container">
                    <div class="section_title text-center">
                        <h2 class="title_color">Explore our rooms</h2>
                        <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast </p>
                    </div>

                <div class="row mb_30">
                    {% for room in rooms %}
                        <div class=" col-sm-6">
                            <div class="accomodation_item text-center">
                                <div class="hotel_img">   
                                    <img src="{% static 'image/room4.jpg'%}" alt="">
                                </div>
                                <a href="{% url 'rooms_detailed_view' room.id %}"><h4 class="sec_h4">{{room.price}}</h4></a>
                                <a href="{% url 'booking' room.id %}" class="btn theme_btn button_hover">Book Now</a> 
                                 </div>
                        </div>
                    {% endfor %}
                </div>

        </div>

    </div> {% endcomment %}


      <div class="accomodation_area section_gap" >
        <div class="container">
                    <div class="section_title text-center">
                        <h2 class="title_color">{{room.type}}</h2>
                    </div>

                <div class="row mb_30">
                        <div class=" col-sm-12">
                            <div class="accomodation_item text-center">
                                <div class="hotel_img">   
                                    <img src="{% static 'image/room4.jpg'%}" alt="">
                                </div>
                                <a href="{% url 'rooms_detailed_view' room.id %}"><h4 class="sec_h4">{{room.price}}</h4></a>
                                <p>The {{room.type}} is one of the best {{room.type}} comfort and convienience all in one</p>
                                <a href="{% url 'booking' room.id %}" class="btn theme_btn button_hover">Book Now</a> 
                                 </div>
                        </div>
                 
                </div>

        </div>

    </div>


    </div>
{% endblock content%}